<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-dark navbar-add">
            <img src="../../assets/8074804.png" alt="library-icon" class="library-icon">
            <div class="nav-list">
                <a routerLink="home">Home</a>
                <a routerLink="books">Books</a>
                <a routerLink="category">Categories</a>
                <a href="#">Sign In</a>
            </div>
        </nav>
    </div>
</body>

</html>