<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container con">
        <div class="con-title">
            <h5> Welcome To The Library</h5>
        </div>
        <div class="row">
            <div class="con-display">
                <div class="col-4 con-cols">
                    <div class="con-background">
                        <img src="../../assets/8074804.png" alt="" class="library-icon">
                        <div class="con-details">
                            <h6>Read Books Online For Free</h6>
                            <p>Million of Books Are Available on The Library</p>
                        </div>
                    </div>

                </div>
                <div class="col-4 con-cols">
                    <div class="con-background">
                        <img src="../../assets/8074804.png" alt="" class="library-icon">
                        <div class="con-details">
                            <h6>Read Books Online For Free</h6>
                            <p>Million of Books Are Available on The Library</p>
                        </div>
                    </div>

                </div>
                <div class="col-4 con-cols">
                    <div class="con-background">
                        <img src="../../assets/8074804.png" alt="" class="library-icon">
                        <div class="con-details">
                            <h6>Read Books Online For Free</h6>
                            <p>Million of Books Are Available on The Library</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <h5>Self-Help Books</h5>
        </div>
        <div class="row">
            <div class="books-section">
                <ngx-slick-carousel class="carousel" [config]="carouselConfig"
                    *ngIf="books && books.items && books.items.length > 0" #slickModal="slick-carousel">
                    <div ngxSlickItem *ngFor="let book of books.items">
                        <div class="books-items">
                            <img class="img-book" [src]="book.volumeInfo.imageLinks?.thumbnail" alt="{{ book.volumeInfo.title }}" />
                            <button class="btn btn-details" (click)="showdetails(book)">DETAILS</button>
                        </div>

                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
        

        <div>
            <h5>Investment Books</h5>
        </div>
        <div class="row">
            <div class="books-section">
                <ngx-slick-carousel class="carousel" [config]="carouselConfig"
                    *ngIf="books2 && books2.items && books2.items.length > 0" #slickModal="slick-carousel">
                    <div ngxSlickItem *ngFor="let book of books2.items">
                        <div class="books-items">
                            <img class="img-book" [src]="book.volumeInfo.imageLinks?.thumbnail" alt="{{ book.volumeInfo.title }}" />
                            <button class="btn btn-details" (click)="showdetails(book)">DETAILS</button>
                        </div>


                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
        
        <div *ngIf="selectedBook" class="container books-description"
            [ngClass]="{'displayOn': showInfo == true}">*
                <div class="x-shape" (click)="closeDetails()"></div>
                <img [src]="selectedBook.volumeInfo.imageLinks?.thumbnail" alt="{{ selectedBook.volumeInfo.title }}" />
                <h6>{{ selectedBook.volumeInfo.title }}</h6>
                <p>Author: {{ selectedBook.volumeInfo.authors?.join(', ') }}</p>
                <p>Description: {{ selectedBook.volumeInfo.description }}</p>
                <p>Published Date: {{ selectedBook.volumeInfo.publishedDate }}</p>
            
            
        </div>




    </div>

</body>

</html>